body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}

#map {
    width: 100%;
    height:100%; 
    margin-top: 60px; 
    z-index: 1;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    height: 60px;
}

.floating-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    padding: 12px 25px;
}
.floating-btn1 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1000;
    padding: 12px 25px;
}

.custom-pin {
    background: transparent !important;
    border: none !important;
}

.size-xs { width: 14px; height: 14px; }
.size-sm { width: 18px; height: 18px; }
.size-lg { width: 40px; height: 40px; }

.memory-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #dee2e6;
}

.memory-media {
    height: 200px;
    object-fit: cover;
    width: 100%;
}
.accordion-body ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.accordion-body li {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    color: brown; 
    cursor: pointer;
}

.accordion-body li:last-child {
    border-bottom: none;
}

.accordion-body li:hover {
    background-color: #f8f1e9;
}

.visited-item {
    background-color: #d4edda !important; 
    color: #155724 !important;
    font-weight: bold;
}

.visited-header {
    background-color: #c3e6cb !important; 
    color: #155724 !important;
}

#addMemoryModal .form-label, 
#memoryModal .form-label {
    color: #212529 !important; 
    display: block;
    margin-bottom: 0.5rem;
}


#addMemoryModal .form-control {
    border: 1px solid #ced4da !important;
    color: #000 !important;
}
